
click==7.1.2
python-socketio==4.6.0
Flask==1.1.2
aiohttp==3.6.2
aiohttp-cors==0.7.0
cchardet==2.1.6
aiodns==2.0.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
Twisted==20.3.0
